/* ------------------carousel search------------ */
@media (min-width: 992px) {
    .search-sec {
        position: relative;
        top: -140px;
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px) {
    .search-sec {
        background: #1A4668;
        /* margin: -60px; */
    }
}


/* -----------spesaliste---------- */

@media (min-width: 991px) {
    .col-md-4 {
        width: 33.33%;
        margin-top: -90px;

    }
    
}

@media (min-width: 1200px) {
    .col-lg-2 {
        width: 16.67%;
    }
}


/* ---------------------clinic part---------------- */

@media screen and (max-width: 992px) {
    .clinic_item_area li {
        width: 33%;
    }
}

@media(max-width: 767px) {
    .clinic_parts .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .clinic_parts .clinic_item_area li {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* ------------footer------------ */

@media (max-width:990px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
/* @media (min-width: 768px) {
    .col-md-6 {
        /* -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%; */
        /* float: right !important; */
    /* } */
/* }  */